* {
  margin: 0;
  background-color: black;
}
::-webkit-scrollbar {
  display: none;
}
.desaparecer {
  display: none;
}
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
  color: rgb(255, 255, 255);
}
.imagen {
  width: 100%;
}
.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 300px -2000px 20px 300px;
}
.subtitulo {
  position: absolute;
  top: 20%;
  left: 15%;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
.titulo {
  position: absolute;
  top: 30%;
  left: 15%;
  font-size: 160px;
  font-family: "Lobster", cursive;
  background-color: rgba(0, 0, 0, 0);
}
.ancla {
  position: absolute;
  top: 60%;
  left: 15%;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: rgb(51, 60, 92);
  color: rgb(224, 224, 224);
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.ancla:hover {
  background-color: rgb(104, 117, 163);
  padding: 30px;
  transition: 1s;
}
.figura {
  margin: 50px;
  margin-bottom: 0px;
  padding: 30px;
  background-color: rgb(77, 77, 77);
  transition: 0.8s;
  filter: grayscale(100%);
  opacity: 0.6;
  display: inline-block;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.figura:hover {
  background-color: rgb(51, 60, 92);
  filter: grayscale(0%);
  transition: 0.8s;
  opacity: 1;
  padding: 50px 50px 60px 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  color: rgb(197, 197, 197);
  cursor: pointer;
}

.margen {
  margin: 70px;
}
.aparecer {
  display: none;
}
.a {
  width: 200px;
  display: block;
  margin: auto;
  transition: 0.8s;
}

.fig {
  text-align: center;
  padding: 10px;
}
.nombres {
  color: rgb(102, 102, 102);
  margin: 10px;
  margin-left: 245px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.videoCargado {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 400px) {
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .contenedor {
    display: none;
  }
  .responsive {
    display: block;
  }
  .nombres {
    font-size: 10px;
    margin: 15px;
    text-align: center;
  }
  .tituloResponsive {
    color: rgb(226, 226, 226);
    font-size: 20px;
    margin: 15px;
    margin-top: 50px;
    text-align: center;
  }
  .ancla {
    display: block;
    margin: auto;
    margin-top: -200px;
    margin-left: 15%;
    font-size: 18px;
    padding: 10px;
  }
  .boton {
    text-align: center;
    display: block;
    color: whitesmoke;
    border: none;
    margin: auto;
    background-color: rgb(104, 104, 104);
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
  }
}
